<!doctype html>
<html lang="en">
<head>
  <title>Features</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    * {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    body {
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
      padding: 40px 30px 18px 30px;
      background: linear-gradient(90deg, rgb(60, 136, 236)0%, rgb(25, 82, 161)0%, rgb(48, 77, 136)37%, rgb(24, 64, 112)75%, rgb(73, 123, 192)100%);
    }
    .wrapper {
      min-height: 90vh;
      border-radius: 8px;
      background: rgb(202, 213, 240)
    }
    .card {
      position: sticky;
      height: 438px;
      margin-top: 5%;
      padding: 8px;
      background: transparent;
    }
    .navbar-nav>li>a {
      margin: 8px;
      text-align: center;
      border-radius: 10px;
      background-color: rgb(135, 169, 231);
      border: 1px solid rgb(148, 178, 235);
    }
    .navbar-nav>li>a:hover {
      background-color: rgb(100, 128, 170);
      color: white;
    }
    .active {
      background-color: rgb(44, 101, 187) !important;
      color: white !important;
    }
    @media (max-width:412px) {
      .card {
        height: auto;
      }
    }
    #click-photo {
      height: 100%;
      width: 100%;
    }
    /* #click-photo {
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      background-color: transparent;
      border-color: transparent;
      display: none;
    } */
    #click-photo {
      position: absolute;
      left: 33% !important;
      top: 0;
      height: 100vh;
      width: 68vw !important;
      background-color: transparent;
      border-color: transparent;
    }
    #video {
      background-color: rgb(44, 43, 43);
      border-radius: 5rem;
      max-height: fit-content;
      max-width: fit-content;
    }
    .just-div {
      background-color: white;
      position: absolute;
      top: 110rem;
    }
    section {
      padding: 5px;
      margin-top: 2%;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="container-fluid" style="padding: 10px;padding-left: 20px;padding-bottom: 0px;">
      <div class="row">
        <div class="col-sm-4">
          <div class="feature-list">
            <div class="content card shadow">
              <img src="/images/undraw_pedestrian_crossing_l-6-jv.svg" width="100%" height="100px" alt="">
              <ul class="navbar-nav">
                <li class="nav-item"><a href="/imageRecognition" id="1" class="nav-link active">Image Recognition System</a>
                </li>
                <li class="nav-item"><a href="/speechToText" id="2" class="nav-link">Convert speech to text</a></li>
                <li class="nav-item"><a href="/sendMyLocation"  class="nav-link">Send My Location</a></li>
                <li class="nav-item" style="display: none"><a href="/features" id = 'featureLink' class="nav-link">features</a></li>
                <!-- <li class="nav-item"><a href="#" class="nav-link">4. Image To Text</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="content">
            <video id="video" width="320" height="240" autoplay></video>
            <button id="click-photo"></button>
            <div class="just-div">
              <canvas id="canvas" width="320" height="240"></canvas>
              <canvas id="myCanvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://code.jquery.com/jquery-3.6.2.min.js"
    integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"
    integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
  <script>
    $(document).ready(function () {
      $(".navbar-nav>li>a").click(function () {
        $(".navbar-nav>li>a").removeClass('active');
        $(this).addClass('active');
      })
    });
  </script>
  <script src="./js/features.js"></script>
  <!-- <script src="./js/index.js"></script> -->
</body>
</html>







