<!doctype html>
<html lang="en">
<head>
  <title>Features</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
   body {
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
      padding: 40px 30px 18px 30px;
      background: linear-gradient(90deg, rgb(60, 136, 236)0%, rgb(25, 82, 161)0%, rgb(48, 77, 136)37%, rgb(24, 64, 112)75%, rgb(73, 123, 192)100%);
    }
    .wrapper {
      min-height: 90vh;
      border-radius: 8px;
      background: rgb(202, 213, 240)
    }
    .card
    {
      position:sticky;
      height: 550px;
      margin-top: 5%;
      padding: 8px;
      background: transparent;
    }
    .navbar-nav>li>a{
      margin: 8px;
      text-align: center;
      border-radius: 10px;
      background-color: rgb(135, 169, 231);
      border: 1px solid rgb(148, 178, 235);
    }
    .navbar-nav>li>a:hover{
      background-color: rgb(100, 128, 170);
      color: white;
    }
    .active{
      background-color: rgb(44, 101, 187)!important;
      color: white!important;
    }
    @media (max-width:412px) {
      .card{
        height: auto;
      }
    }
    section{
      padding: 5px;
      margin-top: 2%;
    }
</style>
</head>
<body>
  <div class="wrapper">
    <div class="container-fluid" style="padding: 10px;padding-left: 20px;padding-bottom: 20px;">
      <div class="row">
        <div class="col-sm-4">
          <div class="feature-list">
            <div class="content card shadow">
              <img src="/images/undraw_pedestrian_crossing_l-6-jv.svg" width="100%" height="100px" alt="">
              <ul class="navbar-nav">
                <li class="nav-item"><a href="www.google.com" id="1" class="nav-link active">1.Image Recognition System</a></li>
                <li class="nav-item"><a href="#next" id="2" class="nav-link">2.Convert speech to text</a></li>
                <li class="nav-item"><a href="#" class="nav-link">3.ss</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-8">
          <div class="content">
            <section id="home">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ducimus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, necessitatibus nulla. Eos quidem eum odit repudiandae voluptate eligendi voluptates voluptatibus, dolorem quaerat magnam non animi eaque aspernatur quod possimus deserunt? Molestiae iusto quaerat odio, labore, sapiente provident voluptas consequatur magnam vel odit sit mollitia nam nisi, nemo eum voluptatem nulla est placeat recusandae totam deleniti quisquam. At tempora delectus ducimus, eos maiores porro mollitia modi aliquam reprehenderit quia ex? Similique, rem animi velit delectus cumque vitae expedita deleniti et dolores optio repellendus corrupti blanditiis, eaque quidem iusto explicabo praesentium, id inventore error saepe incidunt cupiditate nam doloremque architecto? Labore, neque?</section>
            <section id="next">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ducimus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, necessitatibus nulla. Eos quidem eum odit repudiandae voluptate eligendi voluptates voluptatibus, dolorem quaerat magnam non animi eaque aspernatur quod possimus deserunt? Molestiae iusto quaerat odio, labore, sapiente provident voluptas consequatur magnam vel odit sit mollitia nam nisi, nemo eum voluptatem nulla est placeat recusandae totam deleniti quisquam. At tempora delectus ducimus, eos maiores porro mollitia modi aliquam reprehenderit quia ex? Similique, rem animi velit delectus cumque vitae expedita deleniti et dolores optio repellendus corrupti blanditiis, eaque quidem iusto explicabo praesentium, id inventore error saepe incidunt cupiditate nam doloremque architecto? Labore, neque?</section>
          </div>
        </div> -->
      </div>
    </div>
   </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
<script>
  $(document).ready(function(){
   $(".navbar-nav>li>a").click(function(){
    $(".navbar-nav>li>a").removeClass('active');
    $(this).addClass('active');
   })
  });
</script>
<script src="./js/features.js"></script>
</body>
</html>