<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- bootstrap v5 css  cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- font awesome v5.13 cdn-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <style>
        *{
            box-sizing: border-box;
        }
     
        body {
            background-image: linear-gradient(-45deg, rgb(60, 136, 236)0%, rgb(25, 82, 161)0%, rgb(48, 77, 136)37%, rgb(24, 64, 112)75%, rgb(73, 123, 192)100%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 40px 30px 18px 30px;
            max-height: 100vh;
            min-height: 100vh;
        }
.display-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
        .hero {
            display: grid;
            grid-template-columns: 500px 1fr;
            height: 85vh;
            place-items: center;
            background: rgb(202, 213, 240);
            border-radius: 8px;
        }
        .hero-left {
            width: 400px;
            padding: 30px 0 30px 0;
        }
        form {
            padding: 25px 15px;
        }
        .hero-right img {
         width: 100%;
         object-fit: cover;
        }
        .hero-img-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
        }
        input {
            font-size: 18px !important;
        }
        .btn-submit {
            width: 100%;
        }
        @media only screen and (max-width :1200px) {
            body{
                padding: 10px 8px;
                max-height: none;
            }
            .hero {
                grid-template-columns: 1fr;
                height: 120vh;
            }
            .form-title{
                text-align: center;
            }
            .hero-right img {
         width: 50%;
        }
        }
        @media only screen and (max-width :900px) {
            .hero {
                grid-template-columns: 1fr;
            }
        }
        @media only screen and (max-width :556px) {
            .hero {
                grid-template-columns: 1fr;
            }
            .hero-left{
                padding-left:15px ;
                padding-right: 15px;
            }
            .hero-right img {
         width: 90%;
        }
        }
        @media only screen and (max-width :376px) {
            .hero {
                grid-template-columns: 1fr;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="hero">
            <div class="hero-left">
                <form action="/register" method="post">
                    <h5 class="form-title" style="text-align: center;">Register your name</h5>
                    <hr>
                    <div class="form-group">
                        <!-- <label for="username" class="mb-2">UserName:</label> -->
                        <input type="text" name="name" class="form-control mb-3" id="userName"
                            placeholder="Enter Your Name">
                        <!-- <label for="phone" class="mb-2">Phone:</label>
                        <input type="text" name="phone" class="form-control mb-3" id="phone"
                            placeholder="Enter your Phone Numbrer"> -->
                        <div>
                            <input type="submit" value="REGISTER ME" style="background-color: #75a3f8;color: black;font-weight: 600;" class="btn btn-submit tex-center btn-primary">
                        </div>
                    </div>
                </form>
            </div>
            <div class="hero-right display-center" style="width: 565px;
            margin-left: -31px;">
                <div class="hero-img-wrap" >
                    <img src="\images\Rio de Janeiro-pana.svg" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</body>
<!-- bootstrap 5 js cdn  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<!-- jquery cdn  -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="./js/register.js"></script>
</html>